<div>
    <ul>
        <li>
            <span style="margin-right: 10px">Date format:</span>
            <span>
            <select style="padding: 2px;cursor: pointer;font-size: 11px;min-width: 60px;" (change)="onChangeDateFormat($event.target.value)">
                <option *ngFor="let f of dateFormats">{{f}}</option>
            </select>
        </span>
        </li>
        <li>
            <label>
                <span>Disable past dates starting from the previous month:</span>
                <input style="cursor: pointer" type="checkbox" (change)="onDisablePast($event.currentTarget.checked)" [checked]="false">
            </label>
        </li>
        <li>
            <label>
                <span>Disable future dates starting from the next month:</span>
                <input style="cursor: pointer" type="checkbox" (change)="onDisableFuture($event.currentTarget.checked)" [checked]="false">
            </label>
        </li>
        <li>
            <label>
                <span style="margin-right: 10px">Selector size:</span>
                <span>
                    <select style="padding: 2px;cursor: pointer;font-size: 11px;min-width: 60px;" (change)="onSelectorSize($event.target.value)">
                        <option *ngFor="let s of selectorSizes">{{s}}</option>
                    </select>
                </span>
            </label>
        </li>
    </ul>

    <table style="width: 100%">
        <tr>
            <td style="vertical-align: top">
                <my-date-range-picker [options]="myDateRangePickerOptionsInline" (dateRangeChanged)="onDateRangeChanged($event)" [selDateRange]="selectedDateRangeInline"></my-date-range-picker>
            </td>
            <td style="vertical-align: top">
                <div style="padding:4px;border-radius:4px;float:right" [ngStyle]="{border: border}">
                    {{selectedTextInline}}
                </div>
            </td>
        </tr>
    </table>
</div>