<div class="maintitle">
  <div>mydaterangepicker</div>
  <div>Angular 2 date range picker</div>
</div>
<div class="pagecontent">
  <div class="tabcontainer">
    <div class="tab activetab">Date range picker</div>
    <div class="tab inactivetab" (click)="toDatePicker()">Date picker</div>
  </div>

  <div>
    <hr/>
    <h4><a id="normalmode"></a>Normal mode</h4>
    <div class="normalmode">
      <sample-date-range-picker-normal>loading...</sample-date-range-picker-normal>
    </div>

    <hr/>
    <h4><a id="inlinemode"></a>Inline mode</h4>
    <div class="inlinemode">
      <sample-date-range-picker-inline>loading...</sample-date-range-picker-inline>
    </div>

  </div>

</div>





