<div class="mydrp" [ngStyle]="{'width': opts.width, 'border': opts.inline ? 'none' : null}">
    <div class="selectiongroup" *ngIf="!opts.inline">
        <input type="text" class="selection" aria-label="Date range input field" [attr.maxlength]="dateRangeFormat.length" [ngClass]="{'invaliddaterange': invalidDateRange&&opts.indicateInvalidDateRange}" placeholder="{{opts.showDateRangeFormatPlaceholder?dateRangeFormat:opts.customPlaceholderTxt}}"
               [ngStyle]="{'height': opts.height, 'line-height': height, 'font-size': opts.selectionTxtFontSize, 'border': 'none', 'padding-right': selectionDayTxt.length>0 ? '60px' : '30px'}"
               (keyup)="userDateRangeInput($event)" [value]="selectionDayTxt" [disabled]="opts.componentDisabled" [readonly]="!opts.editableDateRangeField" [required]="opts.inputValueRequired">
        <span class="selbtngroup" [style.height]="opts.height">
            <button type="button" class="btnclear" aria-label="Clear date range" *ngIf="selectionDayTxt.length>0" (click)="removeBtnClicked()" [ngClass]="{'btnclearenabled': !opts.componentDisabled, 'btncleardisabled': opts.componentDisabled}" [disabled]="opts.componentDisabled">
                <span class="icon icon-cross" [ngStyle]="{'line-height': opts.height}"></span>
            </button>
            <button type="button" class="btnpicker" aria-label="Open calendar" (click)="openBtnClicked()" [ngClass]="{'btnpickerenabled': !opts.componentDisabled, 'btnpickerdisabled': opts.componentDisabled}" [disabled]="opts.componentDisabled">
                <span class="icon icon-calendar" [ngStyle]="{'line-height': opts.height}"></span>
            </button>
        </span>
    </div>
    <div class="selector" *ngIf="showSelector||opts.inline" [ngClass]="{'inline': opts.inline, 'alignselectorright': opts.alignSelectorRight}">
        <div class="titlearea" *ngIf="opts.showSelectDateText">
            <div class="titleareatxt">
                <div class="titleareafull" *ngIf="titleAreaTextBegin.length===0&&titleAreaTextEnd.length===0">{{opts.selectBeginDateTxt}}</div>
                <div class="titlearealeft" *ngIf="titleAreaTextBegin.length!==0||titleAreaTextEnd.length!==0" [ngClass]="{'titlearealeftenabled': isBeginDate, 'titlearealeftdisabled': !isBeginDate, 'titleareatxtlink': !isBeginDate}" (click)="toBeginDate()" (keydown)="titleAreaKeyDown($event, 1)" tabindex="{{!isBeginDate?'0':'-1'}}">{{titleAreaTextBegin}}</div>
                <div class="titlearearight" *ngIf="titleAreaTextBegin.length!==0||titleAreaTextEnd.length!==0" [ngClass]="{'titlearearightenabled': !isBeginDate, 'titlearearightdisabled': isBeginDate, 'titleareatxtlink': isBeginDate}" (click)="toEndDate()" (keydown)="titleAreaKeyDown($event, 2)" tabindex="{{isBeginDate?'0':'-1'}}">{{titleAreaTextEnd}}</div>
            </div>
        </div>
        <table class="header">
            <tr>
                <td>
                    <div style="float:left">
                        <div class="headerbtncell"><button type="button" class="headerbtn icon icon-left" aria-label="Previous month" (click)="prevMonth()"></button></div>
                        <div class="headermonthtxt">
                            <input type="text" *ngIf="editMonth" class="monthinput" maxlength="12" inputFocus [value]="visibleMonth.monthTxt" (keyup)="userMonthInput($event)" (click)="$event.stopPropagation()" [ngClass]="{'invalidmonth': invalidMonth}">
                            <button class="headerlabelbtn" type="button" [ngClass]="{'monthlabel': opts.editableMonthAndYear}" *ngIf="!editMonth" (click)="opts.editableMonthAndYear&&editMonthClicked($event)" tabindex="{{opts.editableMonthAndYear?'0':'-1'}}">{{visibleMonth.monthTxt}}</button>
                        </div>
                        <div class="headerbtncell"><button type="button" class="headerbtn icon icon-right" aria-label="Next month" (click)="nextMonth()"></button></div>
                    </div>
                </td>
                <td *ngIf="opts.showClearBtn">
                    <button type="button" class="headerclearbtn" [disabled]="beginDate.year===0&&endDate.year===0" [ngClass]="{'btndisable':beginDate.year===0&&endDate.year===0, 'headerclearbtnenabled':beginDate.year!==0||endDate.year!==0}" (click)="clearBtnClicked()">{{opts.clearBtnTxt}}</button>
                </td>
                <td>
                    <div style="float:right">
                        <div class="headerbtncell"><button type="button" class="headerbtn icon icon-left" aria-label="Previous year" (click)="prevYear()"></button></div>
                        <div class="headeryeartxt">
                            <input type="text" *ngIf="editYear" class="yearinput" maxlength="4" inputFocus [value]="visibleMonth.year" (keyup)="userYearInput($event)" (click)="$event.stopPropagation()" [ngClass]="{'invalidyear': invalidYear}">
                            <button class="headerlabelbtn" type="button" [ngClass]="{'yearlabel': opts.editableMonthAndYear}" *ngIf="!editYear" (click)="opts.editableMonthAndYear&&editYearClicked($event)" tabindex="{{opts.editableMonthAndYear?'0':'-1'}}">{{visibleMonth.year}}</button>
                        </div>
                        <div class="headerbtncell"><button type="button" class="headerbtn icon icon-right" aria-label="Next year" (click)="nextYear()"></button></div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="caltable">
            <thead><tr><th class="weekdaytitle" scope="col" *ngFor="let d of weekDays">{{d}}</th></tr></thead>
            <tbody>
                <tr *ngFor="let w of dates">
                    <td class="daycell" *ngFor="let d of w" [ngClass]="{'currmonth':d.cmo===CURR_MONTH&&!d.disabled, 'range': isInRange(d), 'disabled': d.disabled}" (click)="!d.disabled && cellClicked(d);$event.stopPropagation()" (keydown)="cellKeyDown($event, d)" tabindex="0">
                        <div style="background-color:inherit" [ngClass]="{'prevmonth':d.cmo===PREV_MONTH, 'selectedday':beginDate.day===d.dateObj.day&&beginDate.month===d.dateObj.month&&beginDate.year===d.dateObj.year||endDate.day===d.dateObj.day&&endDate.month===d.dateObj.month&&endDate.year===d.dateObj.year, 'currmonth':d.cmo===CURR_MONTH, 'nextmonth':d.cmo===NEXT_MONTH, 'selecteddaygreen':beginDate.day===d.dateObj.day&&beginDate.month===d.dateObj.month&&beginDate.year===d.dateObj.year&&isBeginDate&&isRangeSelected()||endDate.day===d.dateObj.day&&endDate.month===d.dateObj.month&&endDate.year===d.dateObj.year&&!isBeginDate&&isRangeSelected(), 'sunday':d.dayNbr===0&&opts.sunHighlight}">
                            <span [ngClass]="{'currday':d.currDay&&opts.markCurrentDay, 'sundayDim': opts.sunHighlight && d.dayNbr === 0 && (d.cmo===PREV_MONTH || d.cmo===NEXT_MONTH || d.disabled)}">{{d.dateObj.day}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="footerarea">
            <button type="button" class="footerbtn" [disabled]="beginDate&&beginDate.year===0" [ngClass]="{'btndisable':beginDate.year===0,'footerbtnenabled': beginDate.year!==0||!isBeginDate}" (click)="$event.stopPropagation();isBeginDate?toEndDate():toBeginDate()">{{isBeginDate?opts.endDateBtnTxt:opts.beginDateBtnTxt}}</button>
            <button type="button" class="footerbtn" *ngIf="!isBeginDate||endDate.year!==0" [disabled]="endDate.year===0" [ngClass]="{'btndisable':endDate.year===0, 'footerbtnenabled': endDate.year!==0}" (click)="$event.stopPropagation();rangeSelected()">{{opts.acceptBtnTxt}}</button>
        </div>
    </div>
</div>
