<div class="mydrp" [ngStyle]="{'width': opts.width, 'border': opts.inline ? 'none' : '1px solid #AAA'}">
    <div class="selectiongroup" *ngIf="!opts.inline">
        <input type="text" class="selection" [attr.maxlength]="dateRangeFormat.length" [ngClass]="{'invaliddaterange': invalidDateRange&&opts.indicateInvalidDateRange}" placeholder="{{opts.showDateRangeFormatPlaceholder?dateRangeFormat:''}}"
               [ngStyle]="{'height': opts.height, 'line-height': height, 'font-size': opts.selectionTxtFontSize, 'border': 'none', 'padding-right': selectionDayTxt.length>0 ? '60px' : '30px'}"
               (keyup)="userDateRangeInput($event)" [value]="selectionDayTxt" [readonly]="opts.componentDisabled">
        <span class="selbtngroup" [style.height]="opts.height">
            <button type="button" class="btnclear" *ngIf="selectionDayTxt.length>0" (click)="removeBtnClicked()" [ngClass]="{'btnclearenabled': !opts.componentDisabled, 'btncleardisabled': opts.componentDisabled}" [disabled]="opts.componentDisabled">
                <span class="icon icon-cross" [ngStyle]="{'line-height': opts.height}"></span>
            </button>
            <button type="button" class="btnpicker" (click)="openBtnClicked()" [ngClass]="{'btnpickerenabled': !opts.componentDisabled, 'btnpickerdisabled': opts.componentDisabled}" [disabled]="opts.componentDisabled">
                <span class="icon icon-calendar" [ngStyle]="{'line-height': opts.height}"></span>
            </button>
        </span>
    </div>
    <div class="selector" *ngIf="showSelector||opts.inline" [ngClass]="{'inline': opts.inline, 'alignselectorright': opts.alignSelectorRight}">
        <div class="titlearea">
            <div class="titleareatxt">{{isBeginDate?opts.selectBeginDateTxt:opts.selectEndDateTxt}}</div>
        </div>
        <table class="header">
            <tr>
                <td>
                    <div style="float:left">
                        <div class="headerbtn" (click)="prevMonth()"><span class="icon icon-left"></span></div>
                        <div class="headermonthtxt">
                            <input type="text" *ngIf="editMonth" class="monthinput" maxlength="4" [inputFocus] [value]="visibleMonth.monthTxt" (keyup)="userMonthInput($event)" (click)="$event.stopPropagation()" [ngClass]="{'invalidmonth': invalidMonth}">
                            <span [ngClass]="{'monthlabel': opts.editableMonthAndYear}" *ngIf="!editMonth" (click)="editMonthClicked($event)">{{visibleMonth.monthTxt}}</span>
                        </div>
                        <div class="headerbtn" (click)="nextMonth()"><span class="icon icon-right"></span></div>
                    </div>
                </td>
                <td>
                    <button type="button" class="headerclearbtn" [disabled]="beginDate.year===0&&endDate.year===0" [ngClass]="{'btndisable':beginDate.year===0&&endDate.year===0, 'headerclearbtnenabled':beginDate.year!==0||endDate.year!==0}" (click)="clearBtnClicked()">{{opts.clearBtnTxt}}</button>
                </td>
                <td>
                    <div style="float:right">
                        <div class="headerbtn" (click)="prevYear()"><span class="icon icon-left"></span></div>
                        <div class="headeryeartxt">
                            <input type="text" *ngIf="editYear" class="yearinput" maxlength="4" [inputFocus] [value]="visibleMonth.year" (keyup)="userYearInput($event)" (click)="$event.stopPropagation()" [ngClass]="{'invalidyear': invalidYear}">
                            <span [ngClass]="{'yearlabel': opts.editableMonthAndYear}" *ngIf="!editYear" (click)="editYearClicked($event)">{{visibleMonth.year}}</span>
                        </div>
                        <div class="headerbtn" (click)="nextYear()"><span class="icon icon-right"></span></div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="caltable">
            <thead><tr><th class="weekdaytitle" *ngFor="let d of weekDays">{{d}}</th></tr></thead>
            <tbody>
                <tr *ngFor="let w of dates">
                    <td class="daycell" *ngFor="let d of w" [ngClass]="{'currmonth':d.cmo===CURR_MONTH&&!d.disabled, 'currday':d.currDay, 'range': isInRange(d), 'disabled': d.disabled}" (click)="$event.stopPropagation(); !d.disabled && cellClicked(d)">
                        <div style="background-color:inherit" [ngClass]="{'prevmonth':d.cmo===PREV_MONTH, 'selectedday':beginDate.day===d.dateObj.day&&beginDate.month===d.dateObj.month&&beginDate.year===d.dateObj.year||endDate.day===d.dateObj.day&&endDate.month===d.dateObj.month&&endDate.year===d.dateObj.year, 'currmonth':d.cmo===CURR_MONTH, 'nextmonth':d.cmo===NEXT_MONTH, 'selecteddaygreen':beginDate.day===d.dateObj.day&&beginDate.month===d.dateObj.month&&beginDate.year===d.dateObj.year&&isBeginDate&&isRangeSelected()||endDate.day===d.dateObj.day&&endDate.month===d.dateObj.month&&endDate.year===d.dateObj.year&&!isBeginDate&&isRangeSelected(), 'sunday':d.dayNbr===0&&opts.sunHighlight}">
                            <span [ngClass]="{'sundayDim': opts.sunHighlight && d.dayNbr === 0 && (d.cmo===PREV_MONTH || d.cmo===NEXT_MONTH || d.disabled)}">{{d.dateObj.day}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="footerarea">
            <button type="button" class="footerbtn" *ngIf="isBeginDate" [disabled]="beginDate.year===0" [ngClass]="{'btndisable':beginDate.year===0,'footerbtnenabled': beginDate.year!==0}" (click)="$event.stopPropagation();toEndDate($event)">{{opts.endDateBtnTxt}}</button>
            <button type="button" class="footerbtn footerbtnenabled" *ngIf="!isBeginDate" (click)="$event.stopPropagation();toBeginDate($event)">{{opts.beginDateBtnTxt}}</button>
            <button type="button" class="footerbtn" *ngIf="!isBeginDate||endDate.year!==0" [disabled]="endDate.year===0" [ngClass]="{'btndisable':endDate.year===0, 'footerbtnenabled': endDate.year!==0}" (click)="$event.stopPropagation();rangeSelected()">{{opts.acceptBtnTxt}}</button>
        </div>
    </div>
</div>
