.mydrp {
    min-width: 100px;
    border-radius: 2px;
    line-height: 1;
    display: inline-block;
    position: relative;
}

.mydrp * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.mydrp .selector {
    margin-top: 2px;
    margin-left: -1px;
    position: absolute;
    width: 262px;
    padding: 3px;
    border-radius: 2px;
    background-color: #DDD;
    z-index: 100;
    animation: selectorfadein 0.1s;
}

@keyframes selectorfadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mydrp .alignselectorright {
    right: -1px;
}

.mydrp .selectiongroup {
    position: relative;
    display: table;
    border: none;
    border-spacing: 0;
    background-color: #FFF;
}

.mydrp .selection {
    background-color: #FFF;
    display: table-cell;
    position: absolute;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 0 64px 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.mydrp .invalidyear,
.mydrp .invalidmonth,
.mydrp .invaliddaterange {
    background-color: #F1DEDE;
}

.mydrp ::-ms-clear {
    display: none;
}

.mydrp .selbtngroup {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
    display: table-cell;
    font-size: 0;
}

.mydrp .btnpicker,
.mydrp .btnclear {
    height: 100%;
    width: 30px;
    border: none;
    border-left: 1px solid #CCC;
    padding: 0;
    outline: 0;
    font: inherit;
    -moz-user-select: none;
}

.mydrp .btnpickerenabled,
.mydrp .btnclearenabled {
    cursor: pointer;
}

.mydrp .btnpickerdisabled,
.mydrp .btncleardisabled {
    cursor: not-allowed;
}

.mydrp .btnpicker,
.mydrp .btnclear,
.mydrp .headerclearbtn,
.mydrp .footerbtn {
    background: #FFF;
}

.mydrp .header {
    width: 100%;
    height: 30px;
    margin-bottom: 1px;
    background-color: #FAFAFA;
}

.mydrp .header td {
    vertical-align: middle;
    border: none;
    line-height: 0;
}

.mydrp .header td:nth-child(1) {
    font-size: 16px;
    padding-left: 4px;
}

.mydrp .header td:nth-child(2) {
    text-align: center;
}

.mydrp .header td:nth-child(3) {
    font-size: 16px;
    padding-right: 4px;
}

.mydrp .titlearea {
    text-align: center;
    background-color: #FFF;
}

.mydrp .titleareatxt {
    display: table;
    border-spacing: 0;
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}

.mydrp .titleareafull {
    border-bottom: 3px solid #DDD;
}

.mydrp .titlearealeft,
.mydrp .titlearearight {
    display: table-cell;
    width: 50%;
}

.mydrp .titlearealeftenabled {
    background-color: #FAFAFA;
    border-right: 3px solid transparent;
}

.mydrp .titlearearightenabled {
    background-color: #FAFAFA;
    border-left: 3px solid transparent;
}

.mydrp .titlearealeftdisabled {
    border-bottom: 3px solid #DDD;
    border-right: 3px solid #DDD;
    border-bottom-right-radius: 4px;
}

.mydrp .titlearearightdisabled {
    border-bottom: 3px solid #DDD;
    border-left: 3px solid #DDD;
    border-bottom-left-radius: 4px;
}

.mydrp .titleareatxtlink:hover {
    text-decoration: underline;
    color: #8BDAF4;
    cursor: pointer;
}

.mydrp .inline {
    position: relative;
    margin-top: -1px;
}

.mydrp .caltable {
    table-layout: fixed;
    width: 100%;
    background-color: #FFF;
    font-size: 14px;
}

.mydrp .caltable,
.mydrp .weekdaytitle,
.mydrp .daycell {
    border-collapse: collapse;
    color: #003366;
    line-height: 1.1;
}

.mydrp .weekdaytitle,
.mydrp .daycell {
    padding: 5px;
    text-align: center;
}

.mydrp .weekdaytitle {
    background-color: #DDD;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
}

.mydrp .daycell {
    cursor: pointer;
    height: 30px;
}

.mydrp .prevmonth,
.mydrp .nextmonth {
    color: #444;
}

.mydrp .disabled {
    cursor: default !important;
    color: #444 !important;
    background: #FBEFEF !important;
}

.mydrp .sunday {
    color: #C30000;
}

.mydrp .sundayDim {
    opacity: 0.5;
}

.mydrp .currmonth {
    background-color: #F6F6F6;
    font-weight: bold;
}

.mydrp .range {
    background: #D9F2E6;
}

.mydrp .currday {
    text-decoration: underline;
}

.mydrp .selectedday {
    border: 1px solid #004198;
    background-color: #8EBFFF !important;
    border-radius: 2px;
}

.mydrp .selecteddaygreen {
    background-color: #28A828 !important;
}

.mydrp .selectmenu {
    height: 24px;
    width: 60px
}

.mydrp .headerbtncell {
    background-color: #FAFAFA;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

.mydrp .headerbtn,
.mydrp .headerlabelbtn {
    background: #FAFAFA;
    border: none;
    height: 18px;
}

.mydrp .headerbtn {
    width: 16px;
}

.mydrp .headerlabelbtn {
    font-size: 14px;
}

.mydrp,
.mydrp .monthinput,
.mydrp .yearinput,
.mydrp .headerclearbtn,
.mydrp .footerbtn {
    border: 1px solid #CCC;
}

.mydrp .btnpicker,
.mydrp .btnclear,
.mydrp .headerbtn,
.mydrp .footerbtn,
.mydrp .monthinput,
.mydrp .yearinput,
.mydrp .headermonthtxt,
.mydrp .headeryeartxt,
.mydrp .headerclearbtn,
.mydrp .selection {
    color: #000;
}

.mydrp .headerclearbtn,
.mydrp .footerbtn {
    border-radius: 2px;
    cursor: pointer;
    font-size: 11px;
    height: 22px;
}

.mydrp .headerclearbtn {
    min-width: 60px;
}

.mydrp .footerbtn {
    min-width: 80px;
}

.mydrp .btndisable {
    cursor: default;
    opacity: 0.5;
}

.mydrp .footerarea {
    margin-top: 3px;
    padding: 3px;
    text-align: center;
    background-color: #FAFAFA;
}

.mydrp button::-moz-focus-inner {
    border: 0;
}

.mydrp .headermonthtxt,
.mydrp .headeryeartxt {
    min-width: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
}

.mydrp .btnclear:focus,
.mydrp .btnpicker:focus,
.mydrp .headerclearbtn:focus,
.mydrp .footerbtn:focus {
    background: #ADD8E6;
}

.mydrp .headerbtn:focus,
.mydrp .monthlabel:focus,
.mydrp .yearlabel:focus {
    color: #ADD8E6;
    outline: none;
}
.mydrp .titlearealeft:focus,
.mydrp .titlearearight:focus {
    text-decoration: underline;
    outline: none;
}

.mydrp .daycell:focus {
    outline: 1px solid #CCC;
}

.mydrp .icon-calendar,
.mydrp .icon-cross {
    font-size: 16px;
}

.mydrp .icon-left,
.mydrp .icon-right {
    color: #222;
    font-size: 16px;
    vertical-align: middle;
}

.mydrp table {
    display: table;
    border-spacing: 0;
}

.mydrp table td {
    padding: 0;
}

.mydrp table,
.mydrp th,
.mydrp td {
    border: none;
}

.mydrp .btnpickerenabled:hover,
.mydrp .btnclearenabled:hover,
.mydrp .headerclearbtnenabled:hover,
.mydrp .footerbtnenabled:hover,
.mydrp .daycell:hover {
    background-color: #8BDAF4;
}

.mydrp .headerbtn,
.mydrp .monthlabel,
.mydrp .yearlabel {
    cursor: pointer;
}

.mydrp .yearinput,
.mydrp .monthinput {
    width: 40px;
    height: 22px;
    text-align: center;
    font-weight: bold;
    outline: none;
    border-radius: 2px;
}

.mydrp .headerbtn:hover,
.mydrp .monthlabel:hover,
.mydrp .yearlabel:hover {
    color: #8BDAF4;
}

@font-face {
    font-family: 'mydaterangepicker';
    src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAssAAAC8AAAAYGNtYXDMUczTAAABHAAAAGxnYXNwAAAAEAAAAYgAAAAIZ2x5ZmFQ1q4AAAGQAAABbGhlYWQGZuTFAAAC/AAAADZoaGVhB4IDyQAAAzQAAAAkaG10eBYAAnAAAANYAAAAIGxvY2EBdAE0AAADeAAAABJtYXhwABUAPgAAA4wAAAAgbmFtZQ5R9RkAAAOsAAABnnBvc3QAAwAAAAAFTAAAACAAAwOaAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmBwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAUAAAABAAEAADAAAAAQAg5gDmAuYF5gf//f//AAAAAAAg5gDmAuYF5gf//f//AAH/4xoEGgMaARoAAAMAAQAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAAMAEAAAAPAA4AABAAJAA4AEwAYAB0AIgAnACwAMQA2ADsAABMRMxEjFyE1IRUDITUhFQERMxEjJRUzNSMTFTM1IzMVMzUjMxUzNSMBFTM1IzMVMzUjMxUzNSMTFTM1I0Bzc0ADAP0AQAOA/IADDXNz/ZOAgCCAgMCAgMCAgP6AgIDAgIDAgIAggIADAP1AAsBzc3P9c3NzAwD9QALAgMDA/sCAgICAgID/AICAgICAgAJAwMAAAAAAAgBwADADkANQAAQACQAANwEnARcDATcBB+kCp3n9WXl5Aqd5/Vl5MAKnef1ZeQKn/Vl5Aqd5AAABAOAAAAMgA4AAAwAAAQMBJQMgA/3DASADgPyAAcPfAAEA4AAAAyADgAADAAA3EwEF4AMCPf7gAAOA/j3fAAAAAQAAAAEAAF0/BsNfDzz1AAsEAAAAAADRxFAkAAAAANHEUCQAAAAAA8ADgAAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAADwAABAAAAAAAAAAAAAAAAAAAACAQAAAAAAAAAAAAAAAIAAAAEAABABAAAcAQAAOAEAADgAAAAAAAKABQAHgB6AJYApgC2AAAAAQAAAAgAPAAMAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAkAAAABAAAAAAACAAcAcgABAAAAAAADAAkAPAABAAAAAAAEAAkAhwABAAAAAAAFAAsAGwABAAAAAAAGAAkAVwABAAAAAAAKABoAogADAAEECQABABIACQADAAEECQACAA4AeQADAAEECQADABIARQADAAEECQAEABIAkAADAAEECQAFABYAJgADAAEECQAGABIAYAADAAEECQAKADQAvHZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAclZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMHZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAcnZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAclJlZ3VsYXIAUgBlAGcAdQBsAGEAcnZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAckZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mydrp .icon {
    font-family: 'mydaterangepicker';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mydrp .icon-calendar:before {
    content: "\e600";
}

.mydrp .icon-cross:before {
    content: "\e602";
}

.mydrp .icon-left:before {
    content: "\e605";
}

.mydrp .icon-right:before {
    content: "\e607";
}